.TaskCard-container{
  height: calc(10.7vmin); /* Based on 113.5px in 1920x1080 */
}
.TaskCard-taskCompleteIconContainer {
  width: calc(6.42vmin); /* Based on 68px in 1920x1080 */
  height: calc(6.42vmin); /* Based on 68px in 1920x1080 */
  border-radius: 50%;
  background-color: var(--Green2);
  color: var(--Green1);
  font-size: calc(2.5vmin); /* Based on 24px in 1920x1080 */
}

.TaskCard-taskInProgressIconContainer {
  width: calc(6.42vmin); /* Based on 68px in 1920x1080 */
  height: calc(6.42vmin); /* Based on 68px in 1920x1080 */
  border-radius: 50%;
  background-color: var(--Orange2);
  color: var(--Orange1);
  font-size: calc(1.88vmin);
}

.TaskCard-taskStatusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(9.63vmin);
}

.TaskCard-taskInformationContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - calc(9.63vmin));
  justify-content: center;
}

.TaskCard-taskNameContainer {
  font-weight: bold;
}
