.GeneralCard-container {
  border-radius: 5px;
  border: 1px solid var(--Gray2);
  margin-bottom: calc(1.65vmin); /*Based on 16px in 1920x1080 */
  display: flex;
  flex-direction: row;
}

.GeneralCard-container:last-child {
  margin-bottom: 0px;
}