.GeneralCard-container {
  height: calc(9.63vmin); /* Based on 104px in 1920x1080 */
  border-radius: 5px;
  border: 1px solid var(--Gray4);
  margin-bottom: calc(1.7vmin); /*Based on 16px in 1920x1080 */
  display: flex;
  flex-direction: row;
}
