.inputFieldContainer{
    width:100%;
    display: flex;
    flex-direction: column;
}
.inputField{
    border: solid 2px;
    height:calc(10px + 6.5vmin); /* Based on 72px in 1920x1080 */
    border-color: var(--Gray1);
    background-color: var(--Gray1);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: calc(10px + 1vmin); /* Based on 20px in 1920x1080 */
    padding-right: calc(10px + 1vmin); /* Based on 20px in 1920x1080 */
}
.inputField:focus{
    border: solid 2px;
    border-color:var(--Black);
    background-color: var(--White);
    color: var(--Black);
}

.inputField:not(:focus){
    color: var(--Gray3);
}

.inputFieldError{
    border: solid 2px;
    border-color:var(--Red1);
    background-color: var(--White);
    color: var(--Black);
}