.Button{
    border-radius: 5px;
    width: calc(38.85vmin); /* Based on 380px in 1920x1080 */
    height:calc(7.54vmin); /* Based on 72px in 1920x1080 */
}

.PrimaryButton{
    background-color: var(--Black);
}

.PrimaryButton p{
    color: var(--White);
}

.SecondaryButton{
    border: solid calc(0.3vmin) var(--Black);
    background-color: var(--White);
}

.SecondaryButton p {
    color: var(--Black);
}

.PrimaryButton:hover, .SecondaryButton:hover{
    cursor: pointer;
}