.AddPetModal-leftContentPanel, .AddPetModal-rightContentPanel{
    width: calc(55vmin); /* Based on 532px on 1920x1080 */
    height: calc(83.2vmin); /* Based on 894px on 1920x1080 */
    display:flex;
    flex-direction: column;
    align-items: center;
}

.AddPetModal-leftContentPanel{
    padding-right: calc(6.7vmin); /* Based on 64px on 1920x1080 */
}

.AddPetModal-rightContentPanel{
    padding-left: calc(6.7vmin); /* Based on 64px on 1920x1080 */
}

.AddPetModal-addPetAvatarContainer{
    width: calc(13.32vmin);
    height: calc(13.32vmin);
    background-color: var(--Gray1);
    border-radius:50%;
    margin-top: calc(1.65vmin); /* Based on 20px on 1920x1080 */
    margin-bottom: calc(1.65vmin); /* Based on 20px on 1920x1080 */
}

.AddPetModal-addPetAvatarButton{
    font-size: calc(5vmin); /* Based on 48px on 1920x1080 */
    color: var(--Gray2);
}

.AddPetModal-leftInputGroupContainer, .AddPetModal-rightInputGroupContainer{
    width:100%;
}

.AddPetModal-firstRightInputFieldContainer, .AddPetModal-inputFieldContainer{
    margin-bottom: calc(1.65vmin); /* Based on 16px in 1920x1080 */
}

.AddPetModal-lastLeftInputFieldContainer, .AddPetModal-lastRightInputFieldContainer{
    margin-bottom: 0px; /* Based on 52px in 1920x1080 */
}

.AddPetModal-firstRightInputFieldContainer{
    margin-top:-6px;
}


.AddPetModal-leftButtonGroupContainer{
    width:100%;
}

.AddPetModal-aboutInputField{
    height: calc(12.45vmin); /* Based on 132px in 1920x1080 */
}

.AddPetModal-addButton{
    margin-right: calc(1.25vmin); /* Based on 12px in 1920x1080 */
}

.AddPetModal-cancelButton{
    margin-left: calc(1.25vmin); /* Based on 12px in 1920x1080 */
}

.AddPetModal-dropDownGroup{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: calc(1.65vmin); /* Based on 16px in 1920x1080 */
}

.AddPetModal-petMonthOfBirthDropDownContainer{
    margin-right: calc(0.75vmin); /* Based on 8px in 1920x1080 */
    width: calc(12vmin);
}

.AddPetModal-petDateOfBirthDropDownContainer{
    margin-right: calc(0.75vmin); /* Based on 8px in 1920x1080 */
    width: calc(12vmin);
}

.AddPetModal-petYearOfBirthDropDownContainer{
    width: calc(14vmin);
}

.AddPetModal-petGenderDropDownContainer{
    width: calc(13vmin);
}

.AddPetModal-CityStateGroup{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: calc(1.65vmin); /* Based on 16px in 1920x1080 */
}

.AddPetModal-leftGroupInputFieldContainer{
    margin-right: calc(0.75vmin); /* Based on 8px in 1920x1080 */
    width: calc(26.3vmin); /* Based on 230px in 1920x1080 */
}

.AddPetModal-rightGroupInputFieldContainer{
    margin-left: calc(0.75vmin); /* Based on 8px in 1920x1080 */
    width: calc(26.3vmin); /* Based on 230px in 1920x1080 */
}

.AddPetModal-ZipCodeGroup{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.AddPetModal-zipcodeDash{
    margin-top: calc(2.8vmin); /* Based On 30px in 1920x1080 */
}