.Tasks-wrapper{
    display: flex;
    flex-direction: row;
}

.Tasks-content{
    background-color: var(--White);
    height:100%;
    width: calc(100vmax - calc(10px + 26.6vmin)); /*Based on 100vmax - 266px in 1920x1080 */
}