.messageContainer{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-items: center;
}

.errorMessage{
    color: var(--Red1);
}

.warningMessage{
    color: yellow; /*yellow is placeholder*/
}

.instructionalMessage{
    color: var(--Gray2);
}

.warningIcon, .errorIcon{
    margin-right:10px;
    margin-bottom:2px;
}

.hide {
    visibility: hidden;
}