/* Global Variables */
:root{
  /* Colors */
  --Black: #111111;
  --White: #FFFFFF;
  --Blue1: #0059AB;
  --Red1: #BB0000;
}

body {

}

/* Headings */
.heading1{

}

.heading2{

}

.heading3{

}

.heading4{

}

/* Paragraphs */
.paragraph1{
  
}

.paragraph2{
  
}

/* Buttons / Links */
.button{

}
.link{

}

/* 1920x1080 */
@media screen and (min-width: 1920px){

}