@import url('./Styles/Fonts/Fonts.css');

/* Global Variables */
:root{
  /* Colors */
  --Black: #111111;
  --White: #FFFFFF;
  --Gray1: #EAEAEA;
  --Gray2: #B5B5B5;
  --Gray3: #757575;
  --Gray4: #1F1F22;
  --Blue1: #0059AB;
  --Red1: #BB0000;
}

body {
  font-family: 'Poppins Regular';
  margin:0px;
  overflow: hidden;
  min-height: 100vh;
}

/* Global Headings */
.heading1, .heading2, .heading3, .heading4{
  font-family: 'Poppins SemiBold';
}

.heading1{
  font-size: calc(10px + 2.3vmin); /* Based on 32px in 1920x1080 */
}

.heading2{
  font-size: calc(2.5vmin); /* Based on 24px in 1920x1080 */
}

.heading3{
  font-size: calc(10px + 0.85vmin); /* Based on 18px in 1920x1080 */
}

.heading4{
  font-size: calc(1.65vmin); /* Based on 16px in 1920x1080 */
}

/* Global Paragraphs */
.paragraph1, .paragraph2{
  font-family: 'Poppins Regular';
}

.paragraph1{
  font-size: calc(10px + 0.85vmin); /* Based on 18px in 1920x1080 */
}

.paragraph2{
  font-size: calc(1.65vmin); /* Based on 16px in 1920x1080 */
}

.paragraph3{
  font-size: calc(1.46vmin); /* Based on 14px in 1920x1080 */
}

/* Global Buttons / Links */
.button, .link{
  font-family: 'Poppins SemiBold';
}

.button{
  color: var(--White);
  font-size: calc(10px + 0.85vmin); /* Based on 18px in 1920x1080 */
}

.link{
  text-decoration: none;
  color: var(--Blue1);
  font-size: calc(10px + 0.65vmin); /* Based on 16px in 1920x1080 */
}

/* Global Stylings */
.wrapper{
  width: 100%;
  height: 100vh;
}

.flexRowStart{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flexRowEnd{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flexRowCenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexColumnStart{
  display: flex;
  flex-direction: column;
  justify-content:  flex-start;
  align-items: center;
}

.flexColumnEnd{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flexColumnCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 1920x1080 */
@media screen and (min-width: 1920px){

}